body{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
#bl_title{
    font-size: 10em;
    vertical-align: middle;
    font-family: Helvetica;
    padding-left: 15px;
    color: #FFF;
}

#bl_slogan{
    color: #FFF;
    margin-top: 10px;
    font-size: 5.4em;
}

#registerSubTitle{
    margin-left: 5px;
    margin-right: 5px;
    color: #FFF;
    margin-top: 5px;
    font-size: 6em;
}

#login_title{
    margin-left: 5px;
    margin-right: 5px;
    color: #22679F;
    margin-top: 5px;
    font-size: 6em;
}

#bl_logo{
    height: 100px;
    width: 200px;
}

#registerUserTitle{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2.5em;
    font-family: Helvetica;    
    color: #FFF;
}

#registrationInputDiv{
    margin-top: 50px;
}

/* #registrationInputDivRest{
    margin-top: 10px;
} */

#addonWidth{
    width: 200px;
    align-items: left; 
}

#bl_label{
    padding-left: 5px;
    margin-right:15px;
}

#registerButton{
    margin-right: 30px;
}

#login_email{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#loginPassword{
    margin-bottom: 15px;
    text-align: center;
}
#loginButton{
    margin-right: 20px
}

#login_text{
    margin-top: 100px;
}
#invite_friend_btn{
    margin-right: 10px;
    margin-left: 10px;
}

#bl_main_title{
    color: #22679F;
}
#main_list_item{
    text-align: left;
    font-size: 2.5em;
}
#icon_one{
    margin-left: 50px;
}
#icon_two{
    margin-left: 5px;
    margin-right: 20px;
}